#Visual Studio Code workspace file and folder
*.code-workspace
.vscode/*

#Microsoft Word file
*.docx

#Build folder
_build/*

#Todo file
*.todo

#Python file
*.py

#TXT file
*.txt

#INI file
*.ini

#Topicid file
*.topicid